<h4 class="error-title">State error</h4>

<p>
  Sorry, something went wrong!
</p>

<p>
  We're sorry, but it seems like our website is currently in an irregular state. To resolve this issue, please try the following steps:
</p>
<ol>
  <li>Refresh the webpage.</li>
  <li>Log out of your account.</li>
  <li>Log back in with your credentials.</li>
</ol>

<p>If the problem persists after following these steps, please don't hesitate to <a href="mailto:support@example.com">contact our support team</a> for further assistance.</p>
